html{
    scroll-behavior: smooth;
}

body {
    font-family: "neuzeit-grotesk", "toppan-bunkyu-gothic-pr6n","MS Pゴシック",sans-serif;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

h3 {
    font-size: clamp(1.5rem, 1.318rem + 0.78vw, 2.25rem);
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

h3:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 30px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}

header {
    display: flex;
    margin: 0 2%;
}

.header {
    margin: 0 auto;
    max-width: 1100px;
}

.header-contents {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto;
}

.title {
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
}

.title a:hover {
    text-decoration: none;
    color: #000;
}

.header-menu {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.header-menu a {
    transition: all 0.3s;
}

.header-menu a:hover {
    text-decoration: none;
    color: #e0731a;
    transition: all 0.3s;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
}

.main-image {
    position: relative;
    margin-bottom: 72px;
}

.main-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    color: white;
}

.main-title p {
    font-size: 38px;
    font-weight: 400;
    color: #e0731a;
    line-height: 1;
}

.btn-trigger {
    position: relative;
    z-index: 9000;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
}

.btn-trigger,
.btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
    top: 4px;
}

.btn-trigger span:nth-of-type(2) {
    top: 16px;
}

.btn-trigger span:nth-of-type(3) {
    bottom: 4px;
}

#btn01.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}

#btn01.active span:nth-of-type(2) {
    opacity: 0;
}

#btn01.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
}

#h-nav {
    position: absolute;
    z-index: 999;
    background-color: #e0731a;
    left: 0;
    top: -120%;
    width: 100%;
    height: 20vh;
    transition: all 0.5s;
}

#h-nav.panelactive {
    top: 0;
}

#h-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h-nav li {
    list-style: none;
    text-align: center;
}

#h-nav li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

section {
    margin-bottom: 104px;
}

.section-title {
    text-align: center;
    margin-bottom: 64px;
}

.section-title p {
    font-size: clamp(0.875rem, 0.845rem + 0.13vw, 1rem);
}

/* works */
.works-contents {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
}

.works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
    margin-bottom: 40px;
}

.works-item-img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.works-item img {
    width: 100%;
    transition: all 0.3s;
}

.works-item:hover img {
    transform: scale(1.2, 1.2);
    transition: all 0.3s;
}

.works-readmore {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.works-readmore p {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works-readmore:hover {
    opacity: 1;
}

.works-item a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

/* about */
.about-contents {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    gap: 10%;
}

.profile-image  {
    width: 40%;
}

.profile-image img {
    width: 80%;
}

.profile {
    display: inline-block;
    text-align: left;
    width: 60%;
}

.flex-group {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-bottom: 32px;
}

.fa-instagram {
    font-size: 2.5em;
}

.instagram-icon {
    transition: all 0.3s;
}
.instagram-icon:hover {
    color: #e0731a;
    transition: all 0.3s;
}

.name {
    font-size: 24px;
}

.introduction {
    margin-bottom: 40px;
}

.view-all-btn {
    text-align: right;
}

.btn-arrow{
	position: relative;
    display: inline-block;
	padding: 0 20px;
    outline: none;
}

.btn-arrow:hover {
    text-decoration: none;
    color: #000;
}

.btn-arrow::before{
    content: '';
	position: absolute;
    bottom:-10px;
    left:15%;
    width: 85%;
    height: 2px;
	background:#333;
    transition: all .3s;
}

.btn-arrow::after{
    content: '';
	position: absolute;
    bottom:-5px;
    right:0;
    width: 15px;
    height: 2px;
	background: #333;
    transform: rotate(35deg);
    transition: all .3s;
}

.btn-arrow:hover::before ,.btn-arrow:hover::after {
    background: #e0731a;
}


.btn-arrow:hover::before{
    left:20%;
}

.btn-arrow:hover::after{
    right:-5%;
}

.return-top {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 23px;
    background-color: #e0731a;
    border-radius: 50%;
    opacity: 0.6;
  }

  .return-top::before {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 30%;
    height: 30%;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
  }

footer {
    margin: 48px auto 0;
}

footer p {
    text-align: center;
    border-top: 1px solid #000;
    padding: 32px 0;
}

@media screen and (max-width: 767px) {
    header {
        margin: 0;
    }

    .header-contents {
        padding: 32px 18px;
    }

    .about-contents {
        display: block;
    }

    .profile {
        margin-top: 32px;
        width: 80%;
    }

    .profile-image {
        margin: 0 auto;
        width: 60%;
    }

    .profile-image img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .works-list {
    grid-template-columns: repeat(2, 1fr);
}
    
    footer {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .about-contents {
        max-width: 1000px;
    }

    .profile-image img {
        width: 60%;
    }
}
